<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div id="wrap">

		<section>
			<header class="major">
				<h2>
					Hi, I'm <b>Turnstile</b>.
				</h2>
			</header>
		</section>

		<a id="contact"></a>
		<section>
			<a href="#menu"><i class="icon menu fa-arrow-circle-up"></i></a>
			<h2>Get In Touch</h2>
			<div style='margin-bottom: 100px;'>
				<div style='max-width: 400px;'>
					<p>Please feel free to email us for more information at
						<a href="mailto://info@turnstile.io">info@turnstile.io</a>.</p>
				</div>
			</div>
		</section>

	</div>

	{% include footer.html %}
	{% include analytics.html %}
</body>

</html>
